In [1]:
#import dependencies
import os
import requests
import json 
from dotenv import load_dotenv
load_dotenv()
from binance.client import Client

#api keys
API_KEY = os.getenv("BINANCE_API_KEY")

API_SECRET = os.getenv("BINANCE_SECRET_KEY")
#create api object
client = Client(API_KEY,API_SECRET, tld='us')

In [2]:
#get eth daily candle from 2016-2022
candles = client.get_historical_klines("ETHUSDT", Client.KLINE_INTERVAL_1DAY, "1 Dec, 2016", "1 Dec, 2022")

In [4]:
#set list to hold candle data
open = []
high = []
low = []
close = []
volume = []
time=[]

In [5]:
#for loop that adds data to lists above
for i in range(len(candles)):
    open.append(candles[i][1])
    high.append(candles[i][2])
    low.append(candles[i][3])
    close.append(candles[i][4])
    close.append(candles[i][5])
    time.append(candles[i][6])

In [6]:
import pandas as pd

candle_df_open = pd.DataFrame(open, columns= ['open'])
candle_df_high = pd.DataFrame(high, columns= ['high'])
candle_df_low = pd.DataFrame(high, columns= ['low'])
candle_df_close = pd.DataFrame(high, columns= ['close'])
candle_df_volume = pd.DataFrame(high, columns= ['volume'])
candle_df_time = pd.DataFrame(time, columns= ['time'])

In [7]:
candle_df = pd.concat([candle_df_open,candle_df_high,candle_df_low,candle_df_close,candle_df_volume, candle_df_time], axis =1)

In [8]:
candle_df.head()

,open,high,low,close,volume,time
0,209.55000000,209.55000000,209.55000000,209.55000000,209.55000000,1569283199999
1,195.50000000,195.50000000,195.50000000,195.50000000,195.50000000,1569369599999
2,166.84000000,174.15000000,174.15000000,174.15000000,174.15000000,1569455999999
3,169.95000000,170.77000000,170.77000000,170.77000000,170.77000000,1569542399999
4,166.34000000,175.54000000,175.54000000,175.54000000,175.54000000,1569628799999

In [10]:
candle_df['time'] = pd.to_datetime(candle_df['time'], unit='ms')

candle_df['time']

0      2019-09-23 23:59:59.999
1      2019-09-24 23:59:59.999
2      2019-09-25 23:59:59.999
3      2019-09-26 23:59:59.999
4      2019-09-27 23:59:59.999
                 ...
1161   2022-11-27 23:59:59.999
1162   2022-11-28 23:59:59.999
1163   2022-11-29 23:59:59.999
1164   2022-11-30 23:59:59.999
1165   2022-12-01 23:59:59.999
Name: time, Length: 1166, dtype: datetime64[ns]

In [11]:
candle_df = candle_df.set_index('time')

In [12]:
candle_df.head()

,open,high,low,close,volume
time,,,,,
2019-09-23 23:59:59.999,209.55000000,209.55000000,209.55000000,209.55000000,209.55000000
2019-09-24 23:59:59.999,195.50000000,195.50000000,195.50000000,195.50000000,195.50000000
2019-09-25 23:59:59.999,166.84000000,174.15000000,174.15000000,174.15000000,174.15000000
2019-09-26 23:59:59.999,169.95000000,170.77000000,170.77000000,170.77000000,170.77000000
2019-09-27 23:59:59.999,166.34000000,175.54000000,175.54000000,175.54000000,175.54000000

In [23]:
candle_df.to_csv('C:/Users/Justin/Rutgers/project-2/Resources/eth.csv')